@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #f0f2f5;
  --foreground: #333333;
  --primary: #4f46e5;
  --secondary: #3b82f6;
  --accent: #f59e0b;
  --light-blue: #c4dcf5;
  --dark-blue: #20285a;
  --light-grey: #d8deff;
  --dark-grey: #374151;
  --bordeaux: #9d174d;
  --light-grey: #d8deff;
  --dark-grey: #374151;
  --bordeaux: #9d174d;
}

.main-view {
  background: var(--background);
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'Inter', sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.container {
  background: var(--background);
  display: flex;
  flex-direction: column;
  max-width: 1400px;
  margin: 0 auto;
  padding: 20px;
}

.tabs {
  display: flex;
  justify-content: space-around;
  margin-bottom: 10px;
}

.content {
  display: flex;

}

.list {
  width: 30%;
  border-right: 1px solid #ccc;
  padding: 10px;
  background-color: #ffffff;
  /* Updated background color */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  /* Added shadow */
  border-radius: 8px;
  /* Added border-radius */
  font-size: 14px;
}


.loader {
  height: 4px;
  width: 100%;
  background: #f3f3f3;
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
}

.loader::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 25%;
  background: #3498db;
  animation: load 2s linear infinite;
}

@keyframes load {
  0% {
    left: -25%;
  }
  100% {
    left: 100%;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/* Table styles */
.table-container {
  @apply overflow-x-auto shadow-sm rounded-lg border border-gray-200;
}

table {
  @apply w-full text-sm text-left text-gray-500;
}

thead {
  @apply text-xs text-gray-700 uppercase bg-gray-100;
}

th {
  @apply px-6 py-3 font-semibold;
}

tbody tr {
  @apply bg-white border-b  bg-gray-50;
}

td {
  @apply px-6 py-4;
}

td:first-child {
  @apply font-medium text-gray-900 whitespace-nowrap;
}

/* Custom styles for specific data types */
.status-active {
  @apply px-2 py-1 text-xs font-medium text-center text-green-800 bg-green-100 rounded-lg;
}

.status-inactive {
  @apply px-2 py-1 text-xs font-medium text-center text-red-800 bg-red-100 rounded-lg;
}

.timeline {
  position: relative;
  padding: 0;
  list-style: none;
}

.timeline-item {
  position: relative;
  margin-bottom: 20px;
}

.timeline-marker {
  position: absolute;
  left: -10px;
  top: 0;
  width: 20px;
  height: 20px;
  background-color: #fff;
  border: 2px solid #007bff;
  border-radius: 50%;
}

.timeline-content {
  padding-left: 40px;
}
